.container {
  max-width: 1248px;
  margin: 0 auto;
  background-color: inherit !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px !important;
  padding: 16px !important;
  box-sizing: border-box;
}

.content {
  margin-top: 32px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Righteous", sans-serif;
}

.content_header {
  color: rgb(28, 25, 23);
  font-weight: 700;
  line-height: 72px;
  font-size: 72px;
}

.content p {
  line-height: 28px;
  text-align: center;
  font-size: 16px;
}

.content_warning {
  color: rgb(28, 25, 23);
  font-weight: 700;
  line-height: 24px;
  font-size: 24px;
}

.content_first_p {
  margin-top: 48px;
}
