.container {
  max-width: 1248px;
  margin: 0 auto;
  background-color: inherit !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px !important;
  padding: 16px !important;
  box-sizing: border-box;
}

.header_btn {
  background-color: rgb(102, 125, 255) !important;
  font-family: Inter, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif !important;
  color: white !important;
  font-size: 16px !important;
  border-radius: 28px !important;
  font-weight: 700 !important;
  width: 142px !important;
  height: 40px !important;
  border: none !important;
}

.content {
  margin-top: 32px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Righteous", sans-serif;
}

.content_header {
  color: rgb(28, 25, 23);
  font-weight: 700;
  line-height: 72px;
  font-size: 72px;
}

.content p {
  line-height: 28px;
  text-align: center;
  font-size: 16px;
}

.content_warning {
  color: rgb(28, 25, 23);
  font-weight: 700;
  line-height: 24px;
  font-size: 24px;
}

.content_first_p {
  margin-top: 48px;
}
