.card {
  margin: 30px auto !important;
  width: 500px !important;
  height: 250px !important;
  box-sizing: border-box !important;
  text-align: center !important;
  border: 1px solid black !important;
  box-shadow: 12px 12px 0px rgba(85, 190, 225, 0.5) !important;
  font-family: Righteous, sans-serif !important;
}

.form {
  margin: 0 !important;
  margin-top: 20px !important;
}

.form_limits {
  color: rgb(59, 130, 246);
  font-weight: 600;
}

.form_title {
  color: rgb(28, 25, 23);
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
  font-size: 24px;
}

.form_input {
  width: 100% !important;
  height: 40px !important;
}

.form_btn {
  height: 40px !important;
  margin-top: -10px;
  background-color: rgb(59, 130, 246) !important;
  font-size: 16px !important;
  font-family: Righteous, sans-serif !important;
}
